# ---- python ----
__pycache__/
*.pyc
.ipynb_checkpoints/

# ---- datasets / outputs ----
data/
datasets/__pycache__/
checkpoints/
runs/
logs/
*.pth
*.pt

# ---- env / IDE ----
.venv/
env/
.idea/
.vscode/

# ---- OS ----
.DS_Store
